{% extends "Base.html" %}
{% block loginDetails %}{{ super() }}{% endblock loginDetails %}
{% block currentJob %}{% if terms %}
			<li><a href="#" class="sidebarTitle">Current Job</a>
				<div class="sidebarContent" id="contentCurrent" style="display:none;">
				<ul>
					<li><a href="TermListLanguage.html?languageName={{language}}">{{language}}</a></li>
					<li><a href="TermListProduct.html?productCode={{productCode}}">{{productCode}}</a></li>
					<li><a href="TermListContent.html?contentType={{contentType}}">{{contentType}}</a></li>
				</ul>
				</div>
			</li>
{% endif %}{% endblock currentJob %}
{% block sidebarLanguages %}{% if recentLanguages %}
			<!--li><a href="#" class="sidebarTitle">Recent Languages</a>
				<div class="sidebarContent" id="contentLanguage" style="display:none;">
				<ul>
					<li><a href="LanguageList.html"><em>All languages…</em></a></li>
					{% for language in recentLanguages %}
					<li><a href="TermListLanguage.html?languageID={{language['ID']}}">{{language['LangName']}}</a></li>
					{% endfor %}
				</ul>
				</div>
			</li-->
{% endif %}{% endblock sidebarLanguages %}
{% block sidebarProducts %}{% if recentProducts %}
			<!--li><a href="#" class="sidebarTitle">Recent Products</a>
				<div class="sidebarContent" id="contentProduct" style="display:none;">
				<ul>
					<li><a href="ProductList.html"><em>All products…</em></a></li>
					{% for product in recentProducts %}
					<li><a href="TermListProduct.html?productID={{product['ID']}}">{{product['ProductCode']}}</a></li>
					{% endfor %}
				</ul>
				</div>
			</li-->
{% endif %}{% endblock sidebarProducts %}
{% block sidebarJobs %}{% if latestJobs %}
			<li><a href="#" class="sidebarTitle">Latest Jobs</a>
				<div class="sidebarContent" id="contentJob" style="display:none;">
				<ul>
					<li><a href="JobList.html"><em>All jobs…</em></a></li>
					{% for job in latestJobs %}
					<li><a href="TermList.html?jobID={{ job['JobID'] }}">{{job['JobString']}}</a></li>
					{% endfor %}
				</ul>
				</div>
			</li>
{% endif %}{% endblock sidebarJobs %}
{% block content %}
		<input type="hidden" name="UserID" value="{{ userID }}"/>
		<h2>{% block contentTitle %}{% endblock contentTitle %}</h2>
		{% if total > 0 %}
		<div style="margin-right: 200px">
		<p><strong>Translation instructions</strong></p><p>Translate the full “term string” as it would need to be translated in at least one of the contexts on the right. Don’t skip words that don’t appear to be part of the term. French Example: “lists PObject items” ⇒ “liste les éléments PObject”<br/>The term strings are lowercased, as this is how they are used by the system. The proper case can be seen in the context examples. Skip terms that are obvious typos—we will not enforce translations for terms with typos.</p>
		</div>
		<div class="tabularContent">
			<div class="pagination">
				
			</div>
			<script>
				var Paging = $(".pagination").paging({{total}}, {
					format: ".[<(qq-) nncnn! (-pp)>].",
					perpage: {{perPage}},
					page: {{page}},
					lapping: 1,
					onSelect: function (page) {
						$.ajax({
							url: 'TermList.html?bare=1{% if langID %}&langID={{langID}}{% endif %}{% if prodID %}&prodID={{prodID}}{% endif %}{% if jobID %}&jobID={{jobID}}{% endif %}{% if searchTerm %}&search={{searchTerm}}{% endif %}&offset='+this.slice[0]+'&perPage=' + $('#pagerSize').val() + '&total={{total}}',
							type: 'GET',
							success: function(html) {
								$('.viewTable >tbody').html(html);
								// Re-establish jQuery event handlers
								$('.toggleClick') .click(toggleMultipart);
								$('.addCommentButton') .click(addComment);
								$('.submitCommentButton') .click(submitComment);
								$('.translateTermToggle') .click(toggleTranslateTerm);
								$('.cancelTranslationButton') .click(toggleTranslateTerm);
								$('.saveTranslationButton') .click(saveTranslation);
								$('.termCheckbox') .click(function(evt) { $(evt.target).find('label').click()} );
							}
						});
						return true;
					},
					onFormat: function(type) {
						switch (type) {
						case 'block':
							if (!this.active)
								return '<span class="disabled">' + this.value + '</span>';
							else if (this.value != this.page)
								return '<a href="' + (window.location.href.lastIndexOf('#') > 0 ? window.location.href.substr(0, window.location.href.lastIndexOf('#')) : window.location.href) + (window.location.href.indexOf('total') < 0 ? '&total={{total}}' : '') + '#' + this.perpage + '@'+ this.value + '">' + this.value + '</a>';
							return '<span class="current">' + this.value + '</span>';
				
						case 'left':
							if (!this.active)
								return '<span style="display: none;">' + this.value + '</span>';
							else if (this.value != this.page)
								return '<a href="' + (window.location.href.lastIndexOf('#') > 0 ? window.location.href.substr(0, window.location.href.lastIndexOf('#')) : window.location.href) + (window.location.href.indexOf('total') < 0 ? '&total={{total}}' : '') + '#' + this.perpage + '@'+ this.value + '">' + this.value + '</a>';
							return '<span class="current">' + this.value + '</span>';
				
						case 'right':
							if (!this.active)
								return '<span style="display: none;">' + this.value + '</span>';
							else if (this.value != this.page)
								return '<a href="' + (window.location.href.lastIndexOf('#') > 0 ? window.location.href.substr(0, window.location.href.lastIndexOf('#')) : window.location.href) + (window.location.href.indexOf('total') < 0 ? '&total={{total}}' : '') + '#' + this.perpage + '@'+ this.value + '">' + this.value + '</a>';
							return '<span class="current">' + this.value + '</span>';
				
						case 'next':
							if (this.active)
								return '<a href="' + (window.location.href.lastIndexOf('#') > 0 ? window.location.href.substr(0, window.location.href.lastIndexOf('#')) : window.location.href) + (window.location.href.indexOf('total') < 0 ? '&total={{total}}' : '') + '#' + this.perpage + '@'+ this.value + '" class="next">></a>';
							return '<span class="disabled">></span>';
				
						case 'prev':
							if (this.active)
								return '<a href="' + (window.location.href.lastIndexOf('#') > 0 ? window.location.href.substr(0, window.location.href.lastIndexOf('#')) : window.location.href) + (window.location.href.indexOf('total') < 0 ? '&total={{total}}' : '') + '#' + this.perpage + '@'+ this.value + '" class="prev"><</a>';
							return '<span class="disabled"><</span>';
				
						case 'first':
							if (this.active)
								return '<a href="' + (window.location.href.lastIndexOf('#') > 0 ? window.location.href.substr(0, window.location.href.lastIndexOf('#')) : window.location.href) + (window.location.href.indexOf('total') < 0 ? '&total={{total}}' : '') + '#' + this.perpage + '@'+ this.value + '" class="first"><<</a>';
							return '<span class="disabled"><<</span>';
				
						case 'last':
							if (this.active)
								return '<a href="' + (window.location.href.lastIndexOf('#') > 0 ? window.location.href.substr(0, window.location.href.lastIndexOf('#')) : window.location.href) + (window.location.href.indexOf('total') < 0 ? '&total={{total}}' : '') + '#' + this.perpage + '@' + this.value + '" class="last">>></a>';
							return '<span class="disabled">>></span>';
				
						case 'leap':
							if (this.active)
								if (this.pos === 1)
									return "<span class='stats'>{{total}} terms</span><span class='stats'>page " + this.page + " of " + this.pages + "</span>";
								else
									return "<select id='pagerSize' onchange='selectPageSize(parseInt($(\"#pagerSize\").val()))'><option"+(this.perpage === 10 ? " selected='selected'" : "")+">10</option><option"+(this.perpage === 25 ? " selected='selected'" : "")+">25</option><option"+(this.perpage === 50 ? " selected='selected'" : "")+">50</option><option"+(this.perpage === 100 ? " selected='selected'" : "")+">100</option></select><span class='stats'>per page</span>";
							return "";
				
						case 'fill':
							if (this.active)
								return "<span class='ellipsis'>…</span>";
							return "";
						}
					}
				});
				
				function selectPageSize(perpage) {
					Paging.a.perpage = perpage;
					Paging.setPage();
					
						$.ajax({
							url: 'TermList.html?bare=1{% if langID %}&langID={{langID}}{% endif %}{% if prodID %}&prodID={{prodID}}{% endif %}{% if jobID %}&jobID={{jobID}}{% endif %}{% if searchTerm %}&search={{searchTerm}}{% endif %}&offset='+(Paging.a.perpage * Paging.a.page)+'&perPage='+perpage+'&total={{total}}',
							type: 'GET',
							success: function(html) {
								$('.viewTable >tbody').html(html);
								// Re-establish jQuery event handlers
								$('.toggleClick') .click(toggleMultipart);
								$('.addCommentButton') .click(addComment);
								$('.submitCommentButton') .click(submitComment);
								$('.translateTermToggle') .click(toggleTranslateTerm);
								$('.cancelTranslationButton') .click(toggleTranslateTerm);
								$('.saveTranslationButton') .click(saveTranslation);
								$('.termCheckbox') .click(function(evt) { $(evt.target).find('label').click()} );
							}
						});
				}
				
				$('#pagerSize').change(selectPageSize({{perPage}}));
				
				if (window.location.href.indexOf('total') < 0)
					window.location.href = ((window.location.href.lastIndexOf('#') > 0 ? window.location.href.substr(0, window.location.href.lastIndexOf('#')) : window.location.href) + (window.location.href.indexOf('total') < 0 ? '&total={{total}}' : ''));
				
				$(window).hashchange(function() {
				
					if (window.location.hash)
						Paging.setPage(window.location.hash.substr(window.location.hash.lastIndexOf('@')+1));
					else
						Paging.setPage(1); // we dropped the initial page selection and need to run it manually
				});
				
				$(window).hashchange();
			</script>
			<table class="viewTable terms">
				<!--col width="51px"/>
				<col width="53px"/>
				<col/>
				<col/>
				<col width="56px"/>
				<col width="90px"/>
				<col width="90px"/>
				<col width="100px"/>
				<col width="73px"/>
				<col width="93px"/>
				<col width="74px"/>
				<col width="93px"/-->
			<thead>
				<tr>
					<th scope="col" class="toggleImg-th"><span class="toggleImg-span"></span></th>
						{% block contentProductColumnHeader %}<th nowrap scope="col">Product Code</th>{% endblock contentProductColumnHeader %}
						{% block contentLanguageColumnHeader %}<th nowrap scope="col">Target Language</th>{% endblock contentLanguageColumnHeader %}
						<th nowrap scope="col">Ignore</th>
						<th nowrap scope="col">Source Term</th>
						<th nowrap scope="col">Term Translation</th>
						<th nowrap scope="col">New to</th>
						{% block contentContentColumnHeader %}<!--th nowrap scope="col">Content Type</th-->{% endblock contentContentColumnHeader %}
						<!--th nowrap scope="col">Date<br/>Requested</th-->
						<th nowrap scope="col">Last<br/>Update</th>
						<th nowrap scope="col">Last<br/>Translation</th>
						<th nowrap scope="col">Translated By</th>
						<th nowrap scope="col">SME<br/>Reviewed</th>
						<th nowrap scope="col">Reviewed by</th>
						<th nowrap scope="col">Approved</th>
						<th nowrap scope="col">Approved by</th>
					</tr>
			</thead>
			<tbody>
				{% autoescape false %}{{table}}{% endautoescape %}
			</tbody>
			</table>
			<script src="static/jail.js"></script>
			<script src="static/table.js"></script>
		</div>
		
		<div id="confirmDiscardChanges" title="Discard changes?" style="display: none;">
			<p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>If you click ‘Yes’,<br/>your changes will be discarded!</p>
		</div>
		
		{% else %}
		<p>{% block contentNoTerms %}{% endblock contentNoTerms %}</p>
		{% endif %}
{% endblock content %}

