{% extends "TermListBase.html" %}
{% block title %}Term List{% endblock %}
{% block currentJob %}{% if not searchTerm %}{{ super() }}{% endif %}{% endblock currentJob %}
{% block sidebarLanguages %}{{ super() }}{% endblock sidebarLanguages %}
{% block sidebarProducts %}{{ super() }}{% endblock sidebarProducts %}
{% block sidebarJobs %}{{ super() }}{% endblock sidebarJobs %}
{% block contentTypeList %}{{super()}}{% endblock contentTypeList %}
		{% block contentTitle %}Terminology translation{% if total == 0 and jobString %} for {{jobString}}{% else %}{% if productName or language %} for{% if productName and language %}<br/>{% else %} {% endif %}{% if productName %}{{productName}}{% endif %}{% if productName and language %}, {% endif %}{% if language %}{{language}}{% endif %}{% endif %}{% endif %}{% if searchTerm %}<br/>{% if total > 0 %}Showing terms containing{% else %}You searched for{% endif %} <em>{{searchTerm}}</em>{% endif %}{% endblock contentTitle %}
		{% if total > 0 %}
		{% block contentProductColumnHeader %}{% if not productName %}{{ super() }}{% endif %}{% endblock contentProductColumnHeader %}
		{% block contentLanguageColumnHeader %}{% if not language %}{{ super() }}{% endif %}{% endblock contentLanguageColumnHeader %}
		{% block contentContentColumnHeader %}{{ super() }}{% endblock contentContentColumnHeader %}
		{% else %}
		{% block contentNoTerms %}{% if searchTerm %}No terms found matching your search query.{% else %}{% if jobString %}No terms were extracted {% if jobID %}or the job is still pending{% else %}for {% if productName and language %}these{% else %}this{% endif %} {% if productName %}product{% endif %}{% if productName and language %} and {% endif %}{% if language %}language{% endif %}{% endif %}.{% else %}<span class="redCell">The job you were looking for could not be found!</span><br>Check that you are using the correct URL and that the job exists in the <a href="JobList.html">job list</a>.{% endif %}{% endif %}{% endblock contentNoTerms %}
		{% endif %}
